<div class="center">
  <mat-card class="q-select">

  <mat-form-field class="quater-select">
    <mat-label>From</mat-label>
    <select matNativeControl required>
      <option value="mercedes">2019 Q3</option>
      <option value="volvo">2019 Q1</option>
      <option value="saab">2019 Q2</option>
      <option value="audi">2019 Q4</option>
    </select>
  </mat-form-field>


  <mat-form-field class="quater-select">
  <mat-label>To</mat-label>
  <select matNativeControl required>
    <option value="audi">2019 Q4</option>
    <option value="mercedes">2019 Q3</option>
  </select>
</mat-form-field>
  </mat-card>
</div>
